/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
/* @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --primary: #004385;
  --medium-blue: #0AA1DD;
  --primary--dim: #e5eef7;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --lightgrey: #f5f5f5;
  --grey: #f7f7f7;
  --white: #fff;
  --black: #000;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}

.u-massiveFont{
  font-size:80px;
}
.u-marginTopPage{
  margin-top:100px;
}

.u-marginBottomPage{
  margin-bottom:100px;
}

.u-backgroundColorPrimary{
  background-color: var(--primary) !important;
}

.u-backgroundColorMedBlue{
  background-color: var(--medium-blue) !important;
}

.u-noTextDecoration{
  text-decoration: none;
}

.u-marginBottomM{
  margin-bottom:var(--m);
}

.u-colorPrimary{
  color:var(--primary);
}

.u-colorMediumBlue{
  color:var(--medium-blue);
}

.u-colorWhite{
  color:var(--white);
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 500;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-margin-top-s{
  margin-top: var(--s);
}

.u-margin-top-m{
  margin-top: var(--m);
}

.u-margin-left-s{
  margin-left: var(--s);
}

.u-margin-left-xs{
  margin-left: var(--xs);
}

.u-margin-left-m{
  margin-left: var(--m);
}

.u-margin-right-m{
  margin-right: var(--m);
}

.u-margin-left-l{
  margin-left: var(--l);
}

.u-margin-left-xl{
  margin-left: var(--xl);
}

.u-margin-right-xl{
  margin-right: var(--xl);
}

.u-fontsize-m{
  font-size: var(--m);
}

.u-fontsize-l{
  font-size: var(--l);
}

.u-textbox-number{
  width: 50px;
}

.u-extraLightGreyCard{
  background-color:var(--grey);
  border-radius:15px;
  padding:30px;
}

.u-lightGreyCard{
  background-color:var(--lightgrey);
  border-radius:15px;
  padding:30px;
  box-shadow:10px 10px var(--darkgrey);
}

.u-darkGreyOutline{
  border: var(--darkgrey) 2px solid;
  border-radius: var(--xs);
  padding:16px;
}