.Chatbook-container {
  height: calc(100vh - 120px);
  width: 100%;
  border: var(--darkgrey) 2px solid;
  border-radius: var(--xs);
  padding:16px;
}

.Chatbook-userList {
  flex: 0 0 220px;
  margin-right: var(--l);
  overflow-y: auto;
  overflow-x: hidden;
}

.Chatbook-chatContainer {
  flex-grow: 1;
  overflow-x: hidden;
}
