.Chat-container {
  height: 100%;
  background-color:var(--grey);
  border-radius: var(--xs);
  padding:30px;
}

.Chat-newContainer {
  width: 100%;
}

.Chat-historyContainer {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
