.SingleRideName-container {
  background: var(--white);
  border-radius: var(--xs);
  padding: var(--m) var(--l);
  margin-bottom: var(--s);
}

.SingleRideName-container:hover {
  background: var(--medgrey);
}

.SingleRideName-container--active {
  background: var(--grey);
}

.SingleRideName-profilePhoto{
  width:30px;
  height:30px;
  border-radius:50%;
  margin-right:5px;
}