.SingleRideName-container {
  background: var(--white);
  border-radius: var(--xs);
  padding: var(--m) var(--l);
  margin-bottom: var(--s);
}

.SingleRideName-container:hover {
  background: var(--medgrey);
}

.SingleRideName-container--active {
  background: var(--grey);
}
